In [7]:
import pandas as pd

df = pd.read_csv('/Users/hugh/downloads/PPR-ALL 2.csv', low_memory=False)



(df.head())

,Date of Sale (dd/mm/yyyy),Address,County,Eircode,Price,Not Full Market Price,VAT Exclusive,Description of Property,Property Size Description
0,01/01/2010,"5 Braemor Drive, Churchtown, Co.Dublin",Dublin,NaN,"�343,000.00",No,No,Second-Hand Dwelling house /Apartment,NaN
1,03/01/2010,"134 Ashewood Walk, Summerhill Lane, Portlaoise",Laois,NaN,"�185,000.00",No,Yes,New Dwelling house /Apartment,greater than or equal to 38 sq metres and less...
2,04/01/2010,"1 Meadow Avenue, Dundrum, Dublin 14",Dublin,NaN,"�438,500.00",No,No,Second-Hand Dwelling house /Apartment,NaN
3,04/01/2010,"1 The Haven, Mornington",Meath,NaN,"�400,000.00",No,No,Second-Hand Dwelling house /Apartment,NaN
4,04/01/2010,"11 Melville Heights, Kilkenny",Kilkenny,NaN,"�160,000.00",No,No,Second-Hand Dwelling house /Apartment,NaN

In [6]:
pwd

'/Users/hugh/repos/rentals'

In [9]:
df['Year'] = pd.to_datetime(df['Date of Sale (dd/mm/yyyy)'], format='%d/%m/%Y').dt.year
df['Price'] = df['Price'].replace({'€': '', ',': '', ' ': '', '�': ''}, regex=True).astype(float).astype(int)
grouped_df = df.groupby(['County', 'Year']).agg(Count=('Price', 'size'), Median_Price=('Price', 'median')).reset_index()
print(grouped_df)


grouped_df.to_csv('county_year_prices.csv', index=False)

      County  Year  Count  Median_Price
0     Carlow  2010    231      157709.0
1     Carlow  2011    183      127000.0
2     Carlow  2012    266      100000.0
3     Carlow  2013    375       90000.0
4     Carlow  2014    438      110000.0
..       ...   ...    ...           ...
385  Wicklow  2020   1739      315000.0
386  Wicklow  2021   2147      372000.0
387  Wicklow  2022   2173      383259.0
388  Wicklow  2023   2372      396475.0
389  Wicklow  2024   1898      414096.0

[390 rows x 4 columns]